.mixin.out/*
fonts/*
llibrary/*
logs/*
mods/*
tv-cache/*
betterrecords/*
saves/*
astralsorcery/*
backups/*
signpic/*
local/*

usercache.json
usernamecache.json
BotaniaVars.dat
.ReAuth.cfg
crafttweaker.log
options.txt

*.jar
*.dll
minecraftinstance.json
