.mixin.out/*
fonts/*
llibrary/*
logs/*
mods/*
tv-cache/*
betterrecords/*
saves/*
astralsorcery/*
backups/*
signpic/*
local/*

usercache.json
usernamecache.json
BotaniaVars.dat
.ReAuth.cfg
crafttweaker.log
options.txt

*.jar
*.dll
minecraftinstance.json
config/InvTweaks.cfg
config/ichunutil.cfg
config/jei/worldSettings.cfg
config/tlf/hidden.txt
config/tlf/HideNames.cfg
config/AppliedEnergistics2/CustomRecipes.cfg
config/jei/worldSettings.cfg
